.vanilnav{
    color: #f9fafb;
    font-size: 20px;
    font-weight: 700;
}
.vanilacolor{
    color: #66b81a;
    
}
.navborder{
    /* border-bottom: #3814d8 solid 2px; */
}
.sadu{
    color: white;
}
.bgcl{
    background-color:#267580;
}
.navbarstable{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
@media only screen and (max-width: 756px){
    .sadu{
        color: #267580;
    }
}